<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Ali Tahir**
Business Analyst

*I am interested in data science because it allows me to make sense of complex data and gain insights that can drive informed decision-making.*

### Code to perform a simple arithmetic operation

In [5]:
2 + 2

4

---

#### A a bulleted list:

- Item 1
- Item 2
- Item 3

#### A table:

| Name | Age | Occupation |
|------|-----|------------|
| John | 35  | Engineer   |
| Lisa | 28  | Scientist  |
| Mark | 42  | Lawyer     |

#### A Hyperlink:

To the IBM website:
[IBM](https://www.ibm.com)

#### Some popular data science languages include:

- Python
- R
- SQL
- Java
- Scala
- MATLAB

#### Some popular data science libraries for Python:

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow

#### Some popular data science tools

| Tool Name | Description |
| --- | --- |
| Python | General purpose programming language with rich scientific computing libraries |
| R | Statistical programming language with a strong focus on data analysis and visualization |
| MATLAB | Numerical computing environment with specialized toolboxes for signal processing, image processing, and machine learning |
| SAS | Business analytics and statistical analysis software |
| IBM SPSS | Predictive analytics software with a focus on statistical modeling and data mining |
| TensorFlow | Open-source software library for machine learning, used for building and training neural networks

#### Arithmetic expression examples

1. Addition: The sum of 2 and 3 is 5, expressed as `2 + 3 = 5`.
2. Division: The quotient of 10 divided by 2 is 5, expressed as `10 / 2 = 5`.

#### Multiplication and addition example

In [6]:
x = 3
y = 5
z = x * y  # multiply x and y, store the result in z
w = z + x  # add z and x, store the result in w
print("The product of", x, "and", y, "is", z)
print("The sum of", z, "and", x, "is", w)

The product of 3 and 5 is 15
The sum of 15 and 3 is 18

#### Converting minutes to hours

In [7]:
minutes = 120
hours = minutes / 60

print("The number of hours is:", hours)

The number of hours is: 2.0

#### Objectives

- Gathering and cleaning data
- Exploring and visualizing the data
- Building predictive models
- Evaluating and interpreting the models
- Communicating the findings and recommendation

#### Author
This Jupyter Notebook was created by _Syed Ali Tahir_.